<section class="picofme-bg">
	<div id="page" class="about"></div>
	<div class="page-wrap">
		<div class="parent col-two img-container center-justify section-colored">
			<img src="images/photo-of-me.png">
		</div><!--
		--><div class="parent col-two align-top padding-2 center-justify-mobile">
			<h1 class="unset"><span class="dim-blue big-text bolding">Darryl Dixon</span></h1>
			<h3 class="dim-blue">Web Designer and Developer</h3>
		</div>
	</div>
</section>
<section class="mid-blue-bg">
	<div class="page-wrap left-justify padding-2">
		<div class="parent padding-2 center-justify">
			<h1 class="unset">
				<span class=" big-text bolding dark-blue">About Me</span>
			</h1>
		</div>
		<p class="inc-sm-size-text">
			Early on I realized I had a fascination with technology. As an introvert I tended to want to stay on the computer rather than socializing. I was pretty good at being a ghost.
			<br><br>
			When I around 12 or 13 years old I started to get into programming games. I started with what was known as Game Maker, now known as Game Maker Studio. It was a drag-n-drop game creation programming that made game development simple and easy. After a while of programming with drag-n-drop I started to get into writig my own code. Simple code but I write it. Game Maker had (or has) this tool for creating libraries - pre-written code that can be exported as drag-n-drop tools. I started to write my own libraries, but only for myself.
			<br><br>
			I kept up the habit of programming for a while until our computer broke. Because I couldn't code when I wanted to the skill wore off.
			<br><br>
			Fast-forward 6 years, 2014, I'm getting into graphic design. I started off doing social media design, then moved onto logo design. From there I began to get into web design. I designed my first website, a personal website. At that point I wanted to make it a real thing. October 5th, I download Adobe Golive (they were practically giving out free, along with other old, unsupported software) and I built my own personal website in about 2 weeks. After I made my website I made my sister's website, joined the <a href="http://freecodecamp.com">Free Code Camp</a> community, and built up my skills to be a full-stack web developer
			<br><br>
			Now I am pursuing web development as a my. Since then I have not stopped learning and creating, getting my hands into any new code almost everyday, and I must say my progress has been rather smooth. I don't believe in perfection at all times but trying your best to achieve something functional and practical. Ergo, I'm pretty proud of what I've done so far and will continue to improve on what I do and can do.
		</p>
	</div>
</section>
<section>
	<div class="page-wrap padding-2">
		<div class="parent padding-2 center-justify">
			<h1>
				<span class=" med-text bolding dark-blue">Skills</span>
			</h1>
		</div>
		<div class="separator dim-blue-bg"></div><!--
		--><ul class="align-top col-two center-justify inc-sm-size-text">
			<li>Responsive design</li>
			<li>HTML5</li>
			<li>Photoshop</li>
			<li>CSS3</li>
			<li>CSS Pre-processors (Sass)</li>
		</ul><!--
		--><ul class="align-top col-two center-justify inc-sm-size-text">
			<li>JavaScript</li>
			<li>NodeJS</li>
			<li>JavaScript frameworks (AngularJS, ExpressJS)</li>
			<li>JavaScript libraries (JQuery, ReactJS)</li>
			<li>Ajax</li>
		</ul>
		<div class="separator dim-blue-bg"></div>
	</div>
</section>
<section class="mid-blue-bg">
	<div class="page-wrap">
		<p class="center-justify inc-sm-size-text">
			For business inquires of any kind contact me through the convenient <a href="#contact">contact box</a> below, or email me: <a href="mailto:PieceDigitalStudios@Gmail.com" class="external-link">PieceDigitalStudios@Gmail.Com</a><br>
			You can download my resume in either ".docx" or ".pdf" format.
		</p>
		<div class="center-justify pad1-even">
			<div class="col-two padding-1">
				<div class="col-two"></div><div class="col-two">
					<a href="DarrylDixon-WebDevResume.docx" class="button" download>DOWNLOAD .DOCX<br>(5.81 KB)</a>
				</div>
			</div><!--
			--><div class="col-two padding-1">
				<div class="col-two">
					<a href="DarrylDixon-WebDevResume.pdf" class="button" download>DOWNLOAD .PDF<br>(120 KB)</a>
				</div><div class="col-two"></div>
			</div>
		</div>
		<p class="center-justify inc-sm-size-text">
			Also, feel free to connect with me on any of the social links below!
		</p>
		<div class="separator dim-blue-bg"></div>
		<div class="social-icons center-justify">
			<a href="http://twitter.com/piecedigital" target="_blank"><img class="" src="images/twitter.png"></a>
			<a href="http://instagram.com/piecedigitalstudios" target="_blank"><img class="" src="images/instagram.png"></a>
			<a href="http://linkedin.com/in/pdstudios" target="_blank"><img class="" src="images/linkedin.png"></a>
			<a href="http://facebook.com/piecedigitalstudios" target="_blank"><img class="" src="images/facebook.png"></a>
			<a href="http://github.net/piecedigital" target="_blank"><img class="" src="images/github.png"></a>
		</div>
	</div>
</section>
<section>
	<div class="page-wrap">
		<div id="ct-box">
			<form action="http://formspree.io/piecedigitalstudios@gmail.com" method="post" class="padding-2" id="contactbox">
				<h1>Contact Me</h1>
				<br>
				<label for="name">Name: </label><br>
				<input id="name" type="text" name="name" value="" size="100" id="name" class=""><div class="clear"></div>
				<label for="email">Email: </label><br>
				<input id="email" type="text" name="email" value="" size="100" id="email" class=""><br>
				<label for="enquiry">Message: </label><br>
				<textarea id="textarea" cols=50 rows=11 name="enquiry" id="enquiry" class="" placeholder="Enter your message..."></textarea>

				<div class="clear"></div>
				<input type="submit" value="submit" id="submit" class="a-tag"/>
			</form>
			<div id='msg-preview' class="padding-2">
				<h4>Preview: </h4><br>
				<p>
					<span id='p-name'></span><br>
					<span id='p-email'></span><br>
					<span id='p-msg'></span>
				</p>
			</div>
		</div><!--end ct-box-->
	</div><!--end page-wrap-->
</section><!--end color-wrap-->
<script>
	var ctf = $("#contactbox");
    var update = function() {
    	/*gather form data*/
    	var formData = $(ctf).serializeArray();
    	var Name = formData[0].value, Email = formData[1].value, Enquiry = formData[2].value;
    	/*usable form data*/
    	/*check if valid input*/
    	var valName = 0, valEmail = 0, valEnq = 0;
    	if(Name === "" ){ valName = 0; $("#name").removeClass("valid").addClass("invalid");}
    		else{ valName = 1; $("#name").addClass("valid").removeClass("invalid"); };
    	if(Email === "" || !Email.match(/([a-z0-9])*([.][a-z0-9]*)?([@][a-z0-9]*[.][a-z]{1,3})([.][a-z]{1,2})?/i) ){ valEmail = 0; $("#email").removeClass("valid").addClass("invalid");}
    		else{valEmail = 1; $("#email").removeClass("invalid").addClass("valid");};
    	if(Enquiry === "" || Enquiry.length < 30){ valEnq = 0; $("#textarea").removeClass("valid").addClass("invalid");}
    		else{ valEnq = 1; $("#textarea").removeClass("invalid").addClass("valid");};
    	$("label[for=enquiry]").html("Message: <span class='fine-print'>Minimum of 30 characters - Current count: "+Enquiry.length+"</span>");
    	var noErr = valName + valEmail + valEnq;
    	if(noErr !== 3){
    		$("#submit").prop("disabled", true);
    		$("#submit").css({"opacity":"0.5"});}
		else{$("#submit").prop("disabled", false);
			 $("#submit").css({"opacity":"1"});};
		console.log("valName: "+valName+", valEmail: "+valEmail+", valEnq: "+valEnq+", Disabled: "+$("#submit").attr("disabled")+", noErr: "+noErr );

    	/*preview section*/
        $("#p-name").text("Name: " + Name);
        $("#p-email").text("Email: " + Email);

        /*check for line breaks*/
        Enquiry = Enquiry.split(/\n/g);
        for(var lb in Enquiry){
        	Enquiry[lb] += " <br>"
     	};
    	Enquiry = Enquiry.join(" ");

    	/*check for links*/
    	Enquiry = Enquiry.split(" ");
        for(var link in Enquiry){
        	if(Enquiry[link].match(/(https?:\/\/)[a-zA-Z0-9]\w+[.][a-zA-Z]\w+[.]?[a-zA-z]?\w+[\/]?/g) ){
      			var tempName = Enquiry[link];
      			Enquiry[link] = "<a href='" + tempName + "'>" +tempName + "</a>";
        	};
        };
    	Enquiry = Enquiry.join(" ");
        $("#p-msg").html("Message: " + Enquiry );
    };
    update();
    $('form').change(update);
    $(document).on("keyup", update);
</script>