<section>
	<div id="page" class="blog"></div>
	<div class="parent padding-2 center-justify">
		<h1 class="unset">
			<span class="dim-blue big-text bolding">Blog</span>
		</h1>
	</div>
	<div class="page-wrap">
		<div class="col-three-perm padding-2 left-justify dim-blue bolding">
			<div id="blog-prev-btn">&laquo; Prev</div>
		</div><!---
		--><div id="blog-counter" class="col-three-perm padding-2 center-justify dim-blue bolding">0/0</div><!--
		--><div class="col-three-perm padding-2 right-justify dim-blue bolding">
			<div id="blog-next-btn">Next &raquo;</div>
		</div><!--
	--></div>
	<div class="page-wrap">
		<div class="blogs-container">
		</div>
	</div>
</section>
<script type="text/javascript" src="js/blogs-display.js"></script>