<section class="">
	<div class="page-wrap">
		<div class="dark-blue padding-2 big-text center-justify bolding">Guide Cyberclub Chat App</div>
		<div class="padding-2 med-text center-justify bolding">Description</div>
		<div>
			<p class="center-justify inc-sm-size-text">
				This project was created for a small organization by the name of <a href="http://guidemagazine.org">Guide Magazine</a>. They hold weekly chat sessions online.
				<br><br>
				I offered my skills to help them out a bit by creating a chat application to replace their current Java applet. The app needed to carry over and improve all of the necessary parts of their previous app, and also add some nifty new ones. The goal was to create a customized, functional, and scalable web app.
				<br><br>
				Linked below is a video demo of the project (the video may be of the project in an older but stable state).
			</p>
		</div>

		<div class="page-wrap padding-2">
			<div class="parent padding-2 center-justify">
				<h1>
					<span class=" med-text bolding dark-blue">Skills Applied</span>
				</h1>
			</div>
			<div class="separator dim-blue-bg"></div><!--
			--><ul class="align-top col-two center-justify inc-sm-size-text">
			<li>JavaScript</li>
			<li>Node js w/ Express js</li>
			<li>JQuery</li>
			<li>Ajax</li>
		</ul><!--
		--><ul class="align-top col-two center-justify inc-sm-size-text">
			<li>HTML5</li>
			<li>CSS3</li>
			<li>CSS Pre-processors (Sass)</li>
			<li>Responsive design</li>
		</ul>
			<div class="separator dim-blue-bg"></div>
		</div>

		<div class="center-justify pad1-top"><a href="https://www.youtube.com/watch?v=wfCPQonKG1c" class="button">VIEW PROJECT DEMO</a></div>
	</div>
</section>