<section class="picofme-bg">
	<div id="page" class="home"></div>
	<div class="page-wrap">
		<div class="center-justify large-text pad1-bottom dark-blue bolding">
			Piece Digital
			<div class="line-spacer dark-blue-bg"></div>
			Full-Stack Web Developer
		</div>
	</div>
	<div>
</section>
<section class="mid-blue-bg">
	<div class="page-wrap">
		<div class="pad1-bottom big-text center-justify bolding dark-blue">WHAT I DO</div>
		<div>
			<p class="center-justify inc-md-size-text">
				I focus on making user-friendly websites and web apps that are useful, intuitive and fluid. With a stack based around JavaScript, attentiveness to user experience, and a love for modular code, I'm the guy you want on your team.
				<br><br>
				Here on my website you'll find everything you need to learn more about me, including an <a class="a-tag out-link underline dark-blue" href="about" data-href="about">about me</a> and <a class="a-tag out-link underline dark-blue" href="web_projects" data-href="web_projects">web projects</a> page.
			</p>
		</div>
		<div class="center-justify pad1-top"><a href="about" data-href="about" class="button a-tag">VIEW BIO</a></div>
	</div>
</section>
<section>
	<div class="page-wrap">
		<div class="pad1-even big-text center-justify bolding dark-blue">WHAT I'VE DONE</div>
		<div class="col-two align-top padding-1">
			<div>
				<div class="pad1-even med-text center-justify bolding dark-blue">Web Design</div>
				<p class="center-justify inc-md-size-text">
					I've designed and built websites all from scratch, beginning with wire-frames, to mock-ups, to fully custom coded, responsive websites.
				</p>
			</div>
			<div class="previews">
				<div class="img-contain pad2-even">
					<div class="padding-1 col-three">
						<img src="images/webs/preview/prev-1.png" class="" alt="meraki hair website screenshot">
					</div><!--
					--><div class="padding-1 col-three">
						<img src="images/webs/preview/prev-3.png" class="" alt="piece digital studios mock-up">
					</div>
				</div>
			</div>
			<div class="center-justify pad1-top"><a href="websites" data-href="websites" class="button a-tag">VIEW WEB DESIGN PORTFOLIO</a></div>
			<div class="pad1-bottom"></div>
			<div class="pad1-bottom"></div>
		</div><!--
		--><div class="col-two align-top padding-1">
			<div>
				<div class="pad1-even med-text center-justify bolding dark-blue">Web Development</div>
				<p class="center-justify inc-md-size-text">
					I've built several different web-based projects, exemplifying my level of skill and understanding of the technologies that I use.
				</p>
			</div>
			<div class="previews">
				<div class="img-contain">
					<div class="center-justify col-three align-top padding-1">
						<a href="twitch-stream-viewer" class="item-box2 a-tag"><span class="bolding inc-md-size-text very-light-blue total-center">Twitch Stream Viewer</span></a>
					</div><!--
					--><div class="center-justify col-three align-top padding-1">
						<a href="ign-code-foo-challenge" class="item-box2 a-tag"><span class=" bolding inc-md-size-text very-light-blue total-center">IGN 2015 API Challenge</span></a>
					</div><!--
					--><div class="center-justify col-three align-top padding-1">
						<a href="gcc-chat" class="item-box2 a-tag"><span class=" bolding inc-md-size-text very-light-blue total-center">Chat Web App</span></a>
					</div>
				</div>
			</div>
			<div class="center-justify pad1-top"><a href="web_projects" data-href="web_projects" class="button a-tag">VIEW WEB PROJECTS PORTFOLIO</a></div>
		</div>
	</div>
</section>
