<section class="">
	<div class="page-wrap">
		<div class="dark-blue padding-2 big-text center-justify bolding">IGN Code Fo 2015 Challenges</div>
		<div class="padding-2 med-text center-justify bolding">Description</div>
		<div>
			<p class="center-justify inc-sm-size-text">
				In April of 2015 IGN presented various coding challenges to be completed by the first of May. These challeges were to be treated essentially as our application to be a part of their internship program.
				<br><br>
				I unfortunately did not pass the second round of applicants, but I thoroughly enjoyed the experience and the opportunity to work on interesting algorithm and API challenges.
				<br><br>
				Linked below is the completed API challenge given, and also my Github repo containing the API challenge and the algorithm challenge (also the "README.md" contains my answers to their given questions).
			</p>
		</div>

		<div class="page-wrap padding-2">
			<div class="parent padding-2 center-justify">
				<h1>
					<span class=" med-text bolding dark-blue">Skills Applied</span>
				</h1>
			</div>
			<div class="separator dim-blue-bg"></div><!--
			--><ul class="align-top col-two center-justify inc-sm-size-text">
				<li>Web Design</li>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>CSS Pre-processors (Sass)</li>
			</ul><!--
			--><ul class="align-top col-two center-justify inc-sm-size-text">
				<li>Responsive Design</li>
				<li>JavaScript</li>
				<li>Node js w/ Express js</li>
				<li>JQuery</li>
			</ul>
			<div class="separator dim-blue-bg"></div>
		</div>

		<div class="col-two">
			<div class="center-justify pad1-top">
				<div class="col-two"></div><div class="col-two">
					<a href="http://pds-code-foo-2015.herokuapp.com" class="button">VIEW WEB PROJECT</a>
				</div>
			</div>
		</div><!--
		--><div class="col-two">
			<div class="center-justify pad1-top">
				<div class="col-two">
					<a href="http://github.com/piecedigital/code-foo-2015" class="button very-light-blue">VIEW GITHUB REPO</a>
				</div><div class="col-two"></div>
			</div>
		</div>
	</div>
</section>