<section class="">
	<div class="page-wrap">
		<div class="dark-blue padding-2 big-text center-justify bolding">LayoutCSS</div>
		<div class="padding-2 med-text center-justify bolding">Description</div>
		<div>
			<p class="center-justify inc-sm-size-text">
				LayoutCSS is a fairly verbose and literal CSS framework, designed to make sense semantically. LayoutCSS started off as my own personal CSS framework for quickly piecing together a website layout. I found it to be very clear and verbose so I'm releasing it now as an open-source option for those who might like that aspect of a CSS framework.
				<br><br>
				Linked below is the project website and Github repo.
			</p>
		</div>
		
		<div class="page-wrap padding-2">
			<div class="parent padding-2 center-justify">
				<h1>
					<span class=" med-text bolding dark-blue">Skills Applied</span>
				</h1>
			</div>
			<div class="separator dim-blue-bg"></div><!--
			--><ul class="align-top col-two center-justify inc-sm-size-text">
				<li>HTML</li>
				<li>Web Design</li>
			</ul><!--
			--><ul class="align-top col-two center-justify inc-sm-size-text">
				<li>CSS</li>
				<li>CSS Pre-processors (Sass)</li>
			</ul>
			<div class="separator dim-blue-bg"></div>
		</div>

		<div class="col-two">
			<div class="center-justify pad1-top">
				<div class="col-two"></div><div class="col-two">
					<a href="https://www.npmjs.com/package/layoutcss" class="button">VIEW ON NPM</a>
				</div>
			</div>
		</div><!--
		--><div class="col-two">
			<div class="center-justify pad1-top">
				<div class="col-two">
					<a href="http://piecedigital.github.io/layout-css-website/" class="button">VIEW PROJECT WEBSITE</a>
				</div><div class="col-two"></div>
			</div>
		</div>
	</div>
</section>