<section class="">
	<div class="page-wrap">
		<div class="dark-blue padding-2 big-text center-justify bolding">Meraki Natural Hair</div>
		<div class="padding-2 med-text center-justify bolding">Description</div>
		<div>
			<p class="center-justify inc-sm-size-text">
				This project tested my ability to fully design. build and deploy a website from scratch.
				<br><br>
				In the process of building this project, I designed the website from a wire-frame to a mock-up. I hand-coded all aspects of the website from scratch (aside from jQuery), including the sliders, navagation effects, and portfolio.
				<br><br>
				Linked below is the full project on the web.
			</p>
		</div>

		<div class="page-wrap padding-2">
			<div class="parent padding-2 center-justify">
				<h1>
					<span class=" med-text bolding dark-blue">Skills Applied</span>
				</h1>
			</div>
			<div class="separator dim-blue-bg"></div><!--
			--><ul class="align-top col-two center-justify inc-sm-size-text">
				<li>Web Design</li>
				<li>Photoshop</li>
				<li>Logo Design</li>
				<li>Illustrator</li>
				<li>HTML</li>
				<li>CSS3</li>
				<li>CSS Pre-processors (Sass)</li>
			</ul><!--
			--><ul class="align-top col-two center-justify inc-sm-size-text">
				<li>Responsive Design</li>
				<li>JavaScript</li>
				<li>JQuery</li>
				<li>Ajax</li>
			</ul>
			<div class="separator dim-blue-bg"></div>
		</div>

		<div class="center-justify pad1-top"><a href="http://merakinaturalhair.com" class="button">VIEW FULL PROJECT</a></div>
	</div>
</section>