<section>
	<div id="page" class="portfolio overlays"></div>
	<div class="parent padding-2 center-justify">
		<h1 class="unset">
			<span class="dim-blue big-text bolding">Overlays</span>
		</h1>
	</div>
	<div class="page-wrap">
		<div class="center-justify">
			<p>~ Keyboard Controls ~<br>Image/Description Click: Show/Hide description | Left/Right: Navigate through images | Esc: Close lightbox</p>
		</div>
		<div class="portfolio-container">
			
		</div>
	</div>
</section>
<div id="lightbox">
	<div id="backdrop"></div>
	<div id="img-box" class="img-contain"></div>
	<div id="port-prev-btn">
		<div>
			<div></div>
		</div>
	</div>
	<div id="port-next-btn">
		<div>
			<div></div>
		</div>
	</div>
	<div id="description" class="inc-sm-size-text"></div>
	<div id="subtitle"></div>
	<div id="close" class="a-tag">X</div>
</div>
<script type="text/javascript">
	populatePortfolioPage("overlays");
</script>
<!-- <script type="text/javascript" src="portfolio_json/items_overlays.js"></script> -->
<!-- <script id="item-js" type="text/javascript" src="js/itemizer.js"></script> -->