<section>
	<div id="page" class="portfolio"></div>
	<div class="parent padding-2 center-justify">
		<h1 class="unset">
			<span class="dim-blue big-text bolding">Darryl Dixon</span>
		</h1>
	</div>
	<div class="portfolio-container">
		<div class="col-three center-justify a-tag" href="websites" data-href="websites">
			<div class="item-box"><span class="total-center bolding med-text very-light-blue">WEBSITES</span></div>
		</div>
		<div class="col-three center-justify a-tag" href="logos" data-href="logos">
			<div class="item-box"><span class="total-center bolding med-text very-light-blue">LOGOS</span></div>
		</div>
		<div class="col-three center-justify a-tag" href="jersey_designs" data-href="jersey_designs">
			<div class="item-box"><span class="total-center bolding med-text very-light-blue">JERSEY DESIGNS</span></div>
		</div>
		<div class="col-three center-justify a-tag" href="social_media_designs" data-href="social_media_designs">
			<div class="item-box"><span class="total-center bolding med-text very-light-blue">SOCIAL MEDIA DESIGN</span></div>
		</div>
		<div class="col-three center-justify a-tag" href="outros" data-href="outros">
			<div class="item-box"><span class="total-center bolding med-text very-light-blue">VIDEO OUTROS</span></div>
		</div>
		<div class="col-three center-justify a-tag" href="overlays" data-href="overlays">
			<div class="item-box"><span class="total-center bolding med-text very-light-blue">VIDEO OVERLAYS</span></div>
		</div>
	</div>
</section>