<section class="">
	<div class="page-wrap">
		<div class="dark-blue padding-2 big-text center-justify bolding">ShowHornJS</div>
		<div class="padding-2 med-text center-justify bolding">Description</div>
		<div>
			<p class="center-justify inc-sm-size-text">
				ShoehornJS is a simple and small JavaScript tool for creating type safety. It insures that your variables are being assigned the corrent datatypes and provides a way of improving your error handling for these datatypes.
				<br><br>
				Linked below is the full project.
			</p>
		</div>
		
		<div class="page-wrap padding-2">
			<div class="parent padding-2 center-justify">
				<h1>
					<span class=" med-text bolding dark-blue">Skills Applied</span>
				</h1>
			</div>
			<div class="separator dim-blue-bg"></div><!--
			--><ul class="align-top col-two center-justify inc-sm-size-text">
				<li>JavaScript</li>
			</ul><!--
			--><ul class="align-top col-two center-justify inc-sm-size-text">
				<li>Programming</li>
			</ul>
			<div class="separator dim-blue-bg"></div>
		</div>

		<div class="col-two">
			<div class="center-justify pad1-top">
				<div class="col-two"></div><div class="col-two">
					<a href="https://www.npmjs.com/package/shoehornjs" class="button">VIEW ON NPM</a>
				</div>
			</div>
		</div><!--
		--><div class="col-two">
			<div class="center-justify pad1-top">
				<div class="col-two">
					<a href="http://github.com/piecedigital/shoehorn.js" class="button">VIEW ON GITHUB</a>
				</div><div class="col-two"></div>
			</div>
		</div>
	</div>
</section>