<section class="">
	<div class="page-wrap">
		<div class="dark-blue padding-2 big-text center-justify bolding">Static Single-Page</div>
		<div class="padding-2 med-text center-justify bolding">Description</div>
		<div>
			<p class="center-justify inc-sm-size-text">
				Static Single-Page was my initial experimentation with the concept of single-page web experiences.<br><br>
				I kept this mini-project very simple, not even bothering to give it any color, other than black and white. Since creating this I have proceeded with what I learned and recreated my website in the same single-page format.
				<br><br>
				Linked below is the full project.
			</p>
		</div>

		<div class="page-wrap padding-2">
			<div class="parent padding-2 center-justify">
				<h1>
					<span class=" med-text bolding dark-blue">Skills Applied</span>
				</h1>
			</div>
			<div class="separator dim-blue-bg"></div><!--
			--><ul class="align-top col-two center-justify inc-sm-size-text">
				<li>HTML</li>
				<li>CSS3</li>
				<li>Responsive Design</li>
			</ul><!--
			--><ul class="align-top col-two center-justify inc-sm-size-text">
				<li>JavaScript</li>
				<li>JQuery</li>
				<li>Ajax</li>
			</ul>
			<div class="separator dim-blue-bg"></div>
		</div>

		<div class="center-justify pad1-top"><a href="projects/single-page/index.html" class="button">VIEW FULL PROJECT</a></div>
	</div>
</section>