<section class="">
	<div class="page-wrap">
		<div class="dark-blue padding-2 big-text center-justify bolding">TutoPop</div>
		<div class="padding-2 med-text center-justify bolding">Description</div>
		<div>
			<p class="center-justify inc-sm-size-text">
				TutoPop is a jQuery-based tool for creating simple popup tutorials to introduce your users the interface of your website or web app!
				<br><br>
				Linked below is the full project.
			</p>
		</div>
		
		<div class="page-wrap padding-2">
			<div class="parent padding-2 center-justify">
				<h1>
					<span class=" med-text bolding dark-blue">Skills Applied</span>
				</h1>
			</div>
			<div class="separator dim-blue-bg"></div><!--
			--><ul class="align-top col-two center-justify inc-sm-size-text">
				<li>JavaScript</li>
				<li>JQuery</li>
				<li>Programming</li>
			</ul><!--
			--><ul class="align-top col-two center-justify inc-sm-size-text">
				<li>HTML</li>
				<li>CSS</li>
			</ul>
			<div class="separator dim-blue-bg"></div>
		</div>

		<div class="col-two">
			<div class="center-justify pad1-top">
				<div class="col-two"></div><div class="col-two">
					<a href="https://www.npmjs.com/package/tutopop" class="button">VIEW ON NPM</a>
				</div>
			</div>
		</div><!--
		--><div class="col-two">
			<div class="center-justify pad1-top">
				<div class="col-two">
					<a href="http://codepen.io/piecedigital/full/vNdaJm" class="button">VIEW CODEPEN EXAMPLE</a>
				</div><div class="col-two"></div>
			</div>
		</div>
	</div>
</section>