<section class="">
	<div class="page-wrap">
		<div class="dark-blue padding-2 big-text center-justify bolding">Twitch Exe</div>
		<div class="padding-2 med-text center-justify bolding">Description</div>
		<div>
			<p class="center-justify inc-sm-size-text">
				Twitch Exe is a desktop application for watching livestreams from <a href="http://twitch.tv">Twitch.tv</a>. It's built using <a href="http://electron.atom.io">Electron</a>.<br>
				It provides and asynchronous viewing experience so you don't have to refresh or stop watching a streamer just to see who's online! It supports multi-stream viewing and it also supports <a href="http://multitwitch.tv/">multitwitch.tv</a> links!
				<br><br>
				Linked below is the full project.
			</p>
		</div>

		<div class="page-wrap padding-2">
			<div class="parent padding-2 center-justify">
				<h1>
					<span class=" med-text bolding dark-blue">Skills Applied</span>
				</h1>
			</div>
			<div class="separator dim-blue-bg"></div><!--
			--><ul class="align-top col-two center-justify inc-sm-size-text">
				<li>HTML</li>
				<li>CSS3</li>
				<li><a href="http://electron.atom.io/">Electron</a></li>
			</ul><!--
			--><ul class="align-top col-two center-justify inc-sm-size-text">
				<li>JavaScript</li>
				<li>JQuery</li>
				<li>Ajax</li>
				<li>ReactJS</li>
			</ul>
			<div class="separator dim-blue-bg"></div>
		</div>

		<div class="parent padding-2 center-justify">
			<h1 class="unset">
				<span class="dark-blue big-text bolding">Previews</span>
			</h1>
		</div>
		<div class="page-wrap padding-2">
			<div class="portfolio-container">
			
			</div>
		</div>

		<div class="parent padding-2 center-justify">
			<h1 class="unset">
				<span id="download" class="dark-blue big-text bolding">Download for Windows</span>
			</h1>
		</div>
		<div class="col-two">
			<div class="center-justify pad1-top">
				<div class="col-two"></div><div class="col-two">
					<a href="http://www.mediafire.com/download/rq3rj8695dgzjyz/twitch-exe-win-32bit_v0.6.0.zip" class="button">DOWNLOAD THE 32bit EXECUTABLE<br>v0.6.0<br>(50 mb)</a>
				</div>
			</div>
		</div><!--
		--><div class="col-two">
			<div class="center-justify pad1-top">
				<div class="col-two">
					<a href="http://www.mediafire.com/download/j25cq3ss2wkbck6/twitch-exe-win-64bit_v0.6.0.zip" class="button">DOWNLOAD THE 64bit EXECUTABLE<br>v0.6.0<br>(59 mb)</a>
				</div><div class="col-two"></div>
			</div>
		</div>

	</div>
</section>

<div id="lightbox">
	<div id="backdrop"></div>
	<div id="img-box" class="img-contain"></div>
	<div id="port-prev-btn">
		<div>
			<div></div>
		</div>
	</div>
	<div id="port-next-btn">
		<div>
			<div></div>
		</div>
	</div>
	<div id="description" class="inc-sm-size-text"></div>
	<div id="subtitle"></div>
	<div id="close" class="a-tag">X</div>
</div>
<script type="text/javascript">
	populatePortfolioPage("twitch_exe_previews");
</script>