<section class="">
	<div class="page-wrap">
		<div class="dark-blue padding-2 big-text center-justify bolding">Twitch Stream Viewer</div>
		<div class="padding-2 med-text center-justify bolding">Description</div>
		<div>
			<p class="center-justify inc-sm-size-text">
				This project started off as something I would do as part of the <a href="http://freecodecamp.com">Free Code Camp</a> curriculum, but I've taken it on as my own to be something a bit better.
				<br><br>
				In addition to the initial project, I've added a full stream viewer, complete with the option to view stream in a sort of theater mode, hide/show chat, and add new streamers to the list (temporarily).
				<br><br>
				Linked below is the full project.
			</p>
		</div>

		<div class="page-wrap padding-2">
			<div class="parent padding-2 center-justify">
				<h1>
					<span class=" med-text bolding dark-blue">Skills Applied</span>
				</h1>
			</div>
			<div class="separator dim-blue-bg"></div><!--
			--><ul class="align-top col-two center-justify inc-sm-size-text">
				<li>HTML</li>
				<li>CSS</li>
				<li>CSS Pre-processors (Sass)</li>
				<li>Responsive Designs</li>
			</ul><!--
			--><ul class="align-top col-two center-justify inc-sm-size-text">
				<li>JavaScript</li>
				<li>JQuery</li>
				<li>Ajax</li>
			</ul>
			<div class="separator dim-blue-bg"></div>
		</div>

		<div class="center-justify pad1-top"><a href="projects/twitch-stream-viewer/index.html" class="button">VIEW FULL PROJECT</a></div>
	</div>
</section>