<section>
	<div id="page" class="webp"></div>
	<div class="parent padding-2 center-justify">
		<h1 class="unset">
			<span class="dim-blue big-text bolding">Web Projects</span>
		</h1>
	</div>
	<div class="page-wrap">
		<div class="center-justify col-three">
			<a href="shoehornjs" data-href="shoehornjs" class="item-box a-tag"><span class="total-center bolding med-text very-light-blue">ShoehornJS</span></a>
		</div><!--
		--><div class="center-justify col-three">
			<a href="twitch-exe" data-href="twitch-exe" class="item-box a-tag"><span class="total-center bolding med-text very-light-blue">Twitch Exe</span></a>
		</div><!--
		--><div class="center-justify col-three">
			<a href="tutopop" data-href="tutopop" class="item-box a-tag"><span class="total-center bolding med-text very-light-blue">TutoPop - jQuery Tool</span></a>
		</div><!--
		--><div class="center-justify col-three">
			<a href="layoutcss" data-href="layoutcss" class="item-box a-tag"><span class="total-center bolding med-text very-light-blue">LayoutCSS - CSS Library</span></a>
		</div><!--
		--><div class="center-justify col-three">
			<a href="gcc-app" data-href="gcc-app" class="item-box a-tag"><span class="total-center bolding med-text very-light-blue">Guide Cyberclub Application</span></a>
		</div><!--
		--><div class="center-justify col-three">
			<a href="ign-code-foo-challenge" data-href="ign-code-foo-challenge" class="item-box a-tag"><span class="total-center bolding med-text very-light-blue">IGN 2015 API Challenge</span></a>
		</div><!--
		--><div class="center-justify col-three">
			<a href="twitch-stream-viewer" data-href="twitch-stream-viewer" class="item-box a-tag"><span class="total-center bolding med-text very-light-blue">Twitch Stream Viewer</span></a>
		</div><!--
		--><div class="center-justify col-three">
			<a href="youtube-video-viewer" data-href="youtube-video-viewer" class="item-box a-tag"><span class="total-center bolding med-text very-light-blue">YouTube Video Viewer</span></a>
		</div>
	</div>
</section>