//////////////////////// Sass Prerequisites //////////////////////////
$em: 16px;
// colors
$midBlue: #00a2eb;
$dimBlue: #017ab1;
$lightBlue: #9be0ff;
$veryLightBlue: #e8f8ff;
$darkBlue: #004B6E;
$offBlack: rgba(50,50,50,1);
$darkGrey: rgba(80,80,80,1);

// picture
$picOfMe: url("../images/picofme-bg-grey.png");

// scrollbar and selection restyling
@import "_scrollbar";

// necessary mixins
@import "_mixins.scss";

///////////////////// Main Styling /////////////////////////////////
/*///////////////////////// prerequisites /////////////////////////*/
/* css resets */
*, *:before, *:after {
	font-family: sans-serif;
	transition: .2s all ease-in-out;
	box-sizing: border-box;
}

body {
	color: $offBlack;
	margin: 0;
	background: $midBlue;
}

ul, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

li {
	list-style: none
}
a {
	color: inherit;
	font-weight: bold;
	&.go-to-page:before {
		content: "# ";
	}
	&[target="_blank"]:not(.no-symbol):before {
		content: "\2924 ";
	}
}

/* body -----------------------*/
/* open styles */
.section {
	padding: 1*$em;
	&.white-bg {
		box-shadow: 1*$em 0 0 0 white;
	}
}
.page-wrap {
	max-width: 1600px;
	margin: auto;
}

.col-2-1 {
	display: inline-block;
	width: 50%;
}
.col-3-2-1 {
	display: inline-block;
	width: 33.3333333%;
}
.col-4-3-2-1 {
	display: inline-block;
	width: 25%;
}
.col-5-4-3-2-1 {
	display: inline-block;
	width: 20%;
}

.max-width-15_0 {
	max-width: 15*$em;
}
.max-width-18_0 {
	max-width: 18*$em;
}

.x-pad-1_0 {
	padding-left: 1*$em;
	padding-right: 1*$em;
}
.x-pad-2_0 {
	padding-left: 2*$em;
	padding-right: 2*$em;
}
.x-pad-3_0 {
	padding-left: 3*$em;
	padding-right: 3*$em;
}
.x-pad-4_0 {
	padding-left: 4*$em;
	padding-right: 4*$em;
}
.y-pad-0_5 {
	padding-top: .5*$em;
	padding-bottom: .5*$em;
}
.y-pad-1_0 {
	padding-top: 1*$em;
	padding-bottom: 1*$em;
}
.y-pad-2_0 {
	padding-top: 2*$em;
	padding-bottom: 2*$em;
}
.y-pad-3_0 {
	padding-top: 3*$em;
	padding-bottom: 3*$em;
}
.y-pad-4_0 {
	padding-top: 4*$em;
	padding-bottom: 4*$em;
}
.top-pad-1_0 {
	padding-top: 1*$em;
}

.scrollable {
	overflow: auto;
	height: 100%;
}

.hero {
	position: relative;
	height: 100%;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("../images/piecedigital-greyscale.png");
		background-size: cover;
		opacity: .4;
		pointer-events: none;
	}
}
.bold {
	font-weight: bold;
}
.font-size-3_0 {
	font-size: 3*$em;
}
.font-size-2_5 {
	font-size: 2.5*$em;
}
.font-size-2_0 {
	font-size: 2*$em;
}
.font-size-1_5 {
	font-size: 1.5*$em;
}
.font-size-1_2 {
	font-size: 1.2*$em;
}
.font-size-1_0 {
	font-size: 1*$em;
}
.font-size-0_8 {
	font-size: .8*$em;
}
.font-size-0_5 {
	font-size: .5*$em;
}

.left-justify {
	text-align: left;
}
.center-justify {
	text-align: center;
}
.right-justify {
	text-align: right;
}

.separator {
	display: block;
	margin: .5*$em auto;
	height: .2*$em;
	background-color: $midBlue;
	&.small {
		max-width: 50%;
	}
	&.med {
		max-width: 70%;
	}
	&.large {
		max-width: 90%;
	}
}
.dark-blue-text {
	color: $darkBlue;
}
.mid-blue-text {
	color: $midBlue;
}
.dim-blue-text {
	color: $dimBlue;
}
.light-blue-text {
	color: $lightBlue;
}
.dark-grey-text {
	color: $darkGrey;
}
.dark-blue-bg {
	background-color: $darkBlue;
}
.mid-blue-bg {
	background-color: $midBlue;
}
.light-blue-bg {
	background-color: $lightBlue;
}
.white-bg {
	background-color: white;
}

.border-radius-1_0 {
	border-radius: 1*$em;
}

.inline-block {
	display: inline-block;
}

.pointer {
	cursor: pointer;
}

.btn-normal {
	display: inline-block;
	position: relative;
	padding: .5*$em;
	border: none;
	border-radius: .5*$em;
	color: $darkBlue;
	background-color: $lightBlue;
	font-weight: bold;
	cursor: pointer;
	& *, &:before, &:after {
		color: $darkBlue;
	}
	& .arrow {
		&.down {
			position: absolute;
			bottom: -2*$em;
			left: 50%;
			@include transformT(-50%, 0);
			border-top: 2*$em;
			border-right: 1.5*$em;
			border-left: 1.5*$em;
			border-style: solid;
			border-color: $lightBlue transparent transparent;
		}
	}
	&:hover {
		color: $veryLightBlue;
		background-color: $dimBlue;
		& *, &:before, &:after {
			color: $veryLightBlue;
		}
		& .arrow {
			&.down {
				border-color: $dimBlue transparent transparent;
			}
		}
	}
}

.align-top {
	vertical-align: top;
}
/* specific styles */
#page-view {
	position: relative;
	padding: .5*$em 16*$em .5*$em .5*$em;
	height: 100vh;
	width: 100vw;
}
#content-body {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: .5*$em;
	& > div {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $veryLightBlue;
		overflow: auto;
		transition: all .5s ease-in-out;
		&.home-view {
			top: 0;
		}
		&.projects-view {
			top: 100vh;
		}
		&.full-project-view {
			top: 200vh;
		}
	}

	&.projects {
		& .home-view {
			top: -100vh;
		}
		& .projects-view {
			top: 0vh;
		}
		& .full-project-view {
			top: 100vh;
		}
	}
	&.full-project {
		& .home-view {
			top: -200vh;
		}
		& .projects-view {
			top: -100vh;
		}
		& .full-project-view {
			top: 0vh;
		}
	}
}
#nav-body {
	position: fixed; 
	top: 0;
	right: 0;
	width: 15*$em;
	height: 100%;
	padding: .5*$em .5*$em .5*$em 0;
	& > .nav-container {
		position: relative;
		width: 100%;
		height: 100%;
		padding: 5.2*$em 0 4.5*$em;
		border-radius: 0 .5*$em .5*$em 0;
		background-color: $veryLightBlue;
		// overflow: auto;
		& .logo {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 5.2*$em;
			box-shadow: inset 0 -.2*$em 0 0 $midBlue;
			background-image: url("../images/logo.png");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
		& .nav-item {
			display: block;
			position: relative;
			margin: 0 0 .5*$em;
			padding: 1*$em;
			color: $darkBlue;
			background-color: $veryLightBlue;
			text-align: center;
			text-decoration: none;
			font-weight: bold;
			font-size: 1.2*$em;
			// overflow: hidden;
			&:after {
				content: "";
				position: absolute;
				top:100%;
				left: 50%;
				width: 70%;
				height: .5*$em;
				border-radius: 1*$em;
				background-color: $midBlue;
				@include transformT(-50%, 0);
			}
			& > div {
				position: absolute;
				top: .25*$em;
				width: 3*$em;
				height: 3*$em;
				
				overflow: hidden;
				&.left-bump {
					left: 0*$em;
					&:after {
						content: "";
						display: block;
						position: relative;
						left: -3*$em;
						width: 3*$em;
						height: 3*$em;
						border-radius: .5*$em;
						background-color: $veryLightBlue;
						box-shadow: inset 0 0 0 .5*$em $midBlue;
						@include transformR(45deg);
					}
				}
				&.right-bump {
					right: 0*$em;
					&:after {
						content: "";
						display: block;
						position: relative;
						right: -3*$em;
						width: 3*$em;
						height: 3*$em;
						border-radius: .5*$em;
						background-color: $veryLightBlue;
						box-shadow: inset 0 0 0 .5*$em $midBlue;
						@include transformR(45deg);
					}
				}
			}
			&:hover {
				&:after {
					width: 90%;
				}
				& > div {
					&.left-bump {
						&:after {
							left: -2.1*$em;
						}
					}
					&.right-bump {
						&:after {
							right: -2.1*$em;
						}
					}
					&:hover {
						
					}
				}
			}
		}
		& .footer {
			position: absolute;
			bottom: 0*$em;
			left: 0;
			width: 100%;
			padding: 0 .5*$em 0 0;
			& p {
				display: block;
				width: 100%;
				margin: 0;
				color: $darkBlue;
				text-align: center;
				& .social-icons {
					display: inline-block;
					height: 2*$em;
					padding: .2*$em 1*$em;
					& a {
						display: inline-block;
						height: 100%;
						& img {
							max-width: 100%;
							max-height: 100%;
						}
					}
				}
			}
		}
	}
}
#content-body.home + #nav-body .nav-container .nav-item[href="#home"],
#content-body.projects + #nav-body .nav-container .nav-item[href="#projects"],
#content-body.designs + #nav-body .nav-container .nav-item[href="#designs"] {
	&:after{
		width: 80%;
	}
	&:hover:after {
		width: 90%;
	}
}
.intro {
	display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  max-width: 18em;
  @include transformT(-50%,-50%);
  text-align: center;
  &:before {
  	z-index: -1;
  	content: "";
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background-color: $veryLightBlue;
  	border-radius: 100%;
  	box-shadow: 0 0 3*$em 2*$em $veryLightBlue;
  	// opacity: .4;
  	opacity: 0;
  }
}
.title {
	margin: 0 1*$em .2*$em;
	color: $dimBlue;
	box-shadow: 0 .2*$em 0 0 $dimBlue;
	&.dark {
		box-shadow: 0 .2*$em 0 0 $darkBlue;
	}
}

.skills-list {
	padding: 1*$em;
	margin: 1*$em 0;
	min-height: 12*$em;
	box-shadow:
		.2*$em 0 0 0 $dimBlue,
		inset -.2*$em 0 0 0 $dimBlue;
	&:nth-child(3n) {
		box-shadow: none;
	}
	& .skill-title {
		&:before {
			content: ": ";
			font-weight: bold;
		}
	}
	& li {
		margin: .5*$em 0 0 1*$em;
		list-style: disc;
	}
}
.job-description {
	padding: 1*$em 0 1*$em 1*$em;
	& li {
		list-style: disc;
	}
}

#contact-form  {
	display: block;
	max-width: 30*$em;
	margin: auto;
	& label {
		display: block;
		padding: 0 .2*$em;
		margin: .2*$em;
		&:before {
			content: "* ";
			color: red;
		}
	}
	& input, textarea {
		display: block;
		width: 100%;
		max-width: 30*$em;
		padding: .5*$em;
		border: 1px solid $dimBlue;
		border-radius: .5*$em;
		color: $darkBlue;
		transition: 0s all;
	}
	& .err-msg {
		& div {
			font-size: .7*$em;
			color: red;
		}
	}
}
.project-box {
	display: inline-block;
	position: relative;
	border-radius: .5*$em;
	width: 16*$em;
	height: 16*$em;
	background-color: $darkBlue;
	background-position: center;
	background-size: cover;
	box-shadow: 0 0 0 1px $dimBlue;
	cursor: pointer;
	overflow: hidden;
	&:before {
		z-index: 1;
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		@include transformT(-50%, -50%);
		width: 0%;
		height: 0%;
		border-radius: .5*$em;
		background-color: $dimBlue;
		pointer-events: none;
		opacity: 0;
	}
	&:after {
		display: inline-block;
		z-index: 1;
		content: "\2922";
		position: absolute;
		top: 50%;
		left: 50%;
		@include transformST(0, -50%, -50%);
		padding: .2*$em .5*$em;
		color: $veryLightBlue;
		box-shadow: 0 0 0 .4*$em $veryLightBlue;
		border-radius: 100%;
		font-size: 1.5*$em;
		opacity: 0;
	}
	&:hover {
		&:before, &:after {
			opacity: 1;
		}
		&:before {
			width: 100%;
			height: 100%;
		}
		&:after {
			@include transformST(1, -50%, -50%);
		}
	}
	& .text {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transformT(-50%, -50%);
		width: 100%;
		padding: .5*$em 0;
		font-size: 1.2*$em;
		background-color: $lightBlue;
		box-shadow: 0 0 0 10*$em rgba(30,30,30,.2), // overs images
			0 0 2*$em .5*$em black,
			0 0 0 .1*$em $dimBlue;
	}
}

.gallery-img {
	position: relative;
	padding: 0 16*$em 0 0;
	min-height: 320px;
	& img {
		max-width: 100%;
		max-height: 100%;
		border-radius: .25*$em;
		box-shadow: 0 0 0 1px $midBlue;
		background-color: $lightBlue;
	}
	& .gallery-list {
		position: absolute;
		top: 0;
		right: 0;
		width: 15*$em;
		height: 100%;
		padding: .25*$em 0;
		box-shadow: 0 0 0 1px $midBlue;
		background-color: $lightBlue;
		overflow: auto;
		& li {
			position: relative;
			width: 100%;
			padding: .25*$em .5*$em;
			border-radius: .25*$em;
			& img {
				display: block;
				width: 100%;
				cursor: pointer;
			}
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $lightBlue;
				opacity: 0;
			}
			&:after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				@include transformT(-50%,-50%);
				border-right: 2*$em solid $veryLightBlue;
				border-top: 1.5*$em solid transparent;
				border-bottom: 1.5*$em solid transparent;
				opacity: 0;
			}
			&:hover {
				&:before {
					opacity: .8;
				}
				&:after {
					opacity: 1;
				}
			}
		}
	}
}
.show-more-mobile {
	display: none;
}
.mobile-menu {
	display: none;
}
/*//////////////////////// media queries ////////////////////////*/
@include media-max(1670px) {
	.col-5-4-3-2-1 {
		width: 25%;
	}
}

@include media-max(1400px) {
	.col-4-3-2-1, .col-5-4-3-2-1 {
		width: 33.3333333%;
	}
}

@include media-max(1140px) {
	.col-3-2-1, .col-4-3-2-1, .col-5-4-3-2-1 {
		width: 50%;
	}
	.skills-list {
		&:nth-child(odd) {
		box-shadow:
			.2*$em 0 0 0 $dimBlue,
			inset -.2*$em 0 0 0 $dimBlue;
		}
		&:nth-child(even) {
			box-shadow: none;
		}
	}
}

@include media-max(940px) {
	.full-project-gallery {
		padding-left: 0;
    padding-right: 0;
	}
	.gallery-img {
		padding: 0 0 0 3*$em;
		& img {
			display: none;
		}
		& .gallery-list {
			position: relative;
			width: 100%;
			max-height: 440px;
			& li {
				&:hover {
					&:before, &:after {
						opacity: 0;
					}
				}
			}
		}
	}
}

@include media-max(860px) {
	.col-2-1, .col-3-2-1, .col-4-3-2-1, .col-5-4-3-2-1 {
		display: block;
		width: 100%;
	}
	.skills-list {
		box-shadow: none !important;
		border-bottom: .2*$em solid $dimBlue;
	}
}

@include media-max(670px) {
	.shrink-pad-mobile {
		padding-left: 0;
		padding-right: 0;
	}
	#page-view {
		padding: .5*$em;
	}
	.mobile-menu {
		display: block;
		position: fixed;
		top: .5*$em;
		right: .5*$em;
		padding: .25*$em;
		font-weight: bold;
		border-radius: 0 0 0 .25*$em;
		box-shadow: 0 0 0 2px $midBlue;
		color: $darkBlue;
		background-color: $veryLightBlue;
		font-size: 1.2*$em;
		cursor: pointer;
		& .close {
			display: none;
		}
	}
	#nav-body {
		width: 100%;
		padding: .5*$em;
		@include transformT(100%, 0);
		&.open {
			@include transformT(0%, 0);
			& + .mobile-menu {
				& .close {
					display: inline;
				}
				& .open {
					display: none;
				}
			}
		}
		.nav-container {
			padding: 5*$em 0 4.5*$em;
			& .logo {
				height: 5*$em;
				background-size: contain;
			}
		}
	}
	.show-later-mobile {
		overflow: hidden;
		&:not(.open) {
			height: 0;
			& + * .show-more-mobile .less {
				display: none;
			}
		}
		&.open {
			& + * .show-more-mobile .more {
				display: none;
			}
		}
	}
	.show-more-mobile {
		display: inherit;
	}
}
