*, *:before, *:after {
  font-size: 16px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.cite {
  color: #e8f8ff;
  padding: .5em;
  display: block;
}

body {
  background: #00a2eb;
}

section {
  padding: 2em 0;
}

.page-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.justify-left {
  text-align: left;
}

.justify-center {
  text-align: center;
}

.justify-right {
  text-align: right;
}

.header-text {
  display: block;
  font-weight: bold;
  font-size: 2em;
  color: #e8f8ff;
  margin: 0 0 1em;
}

#items-list {
  padding: 0;
  margin: 0;
}
#items-list li {
  padding: .5em;
  background: #9be0ff;
  border-radius: .5em;
  margin: 0 0 2em;
  vertical-align: top;
}
#items-list li a {
  text-decoration: none;
}

.col-2 {
  display: inline-block;
  width: 50%;
}

.col-4-to-1 {
  display: inline-block;
  width: 25%;
}

form input {
  vertical-align: top;
  border-radius: .4em 0 0 .4em;
  border: none;
  padding: .5em;
  background: #e8f8ff;
}
form button {
  vertical-align: top;
  border-radius: 0 .4em .4em 0;
  border: none;
  background: #017ab1;
  color: #e8f8ff;
  padding: .54em .5em;
  cursor: pointer;
}

#prev {
  background: #e8f8ff;
  display: inline-block;
  padding: .5em;
  border-radius: 1em .5em .5em 1em;
  cursor: pointer;
  text-decoration: none;
  color: #004B6E;
  text-decoration: none;
  color: #004B6E;
}

#next {
  background: #e8f8ff;
  display: inline-block;
  padding: .5em;
  border-radius: .5em 1em 1em .5em;
  cursor: pointer;
  text-decoration: none;
  color: #004B6E;
  text-decoration: none;
  color: #004B6E;
}

.thumbnail {
  display: block;
  vertical-align: top;
}
.thumbnail img {
  max-width: 100%;
}

.title {
  display: block;
  vertical-align: top;
  color: #017ab1;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .col-4-to-1 {
    width: 33.33333333%;
  }
}
@media screen and (max-width: 800px) {
  .col-4-to-1 {
    width: 50%;
  }
}
.embed {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 90%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.close {
  cursor: pointer;
  color: #e8f8ff;
  position: fixed;
  top: 1em;
  right: 1em;
  padding: .2em .5em .3em;
  box-shadow: 0 0 0 2px #e8f8ff;
  border-radius: 100%;
}

@media screen and (max-width: 550px) {
  .col-4-to-1 {
    display: block;
    width: 100%;
  }
}
